:root {
  --body-bg-color: #faf7fd;
  --purple: #bb99dd;
  font-family: 'Poppins', sans-serif;
}

.container {
  text-align: center;
}

img {
  width: 100px;
  height: 100px;
  margin-top: 40px;
}

p {
  font-size: 16px;
  font-weight: 300;

  margin-top: 32px;
  margin-bottom: 35px;
}

.retangule {
  width: 326px;
  height: 49px;
  border: 2px solid var(--purple);
  border-radius: 4px;
  margin: 0 auto;
  margin-bottom: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.retangule p {
  font-size: 16px;
  font-weight: 600;

  color: var(--purple);
}

a img {
  margin-top: 70px;
  margin-right: 34px;
  width: 24px;
  height: 24px;
}
