.container {
  width: 300px;
  height: 600px;
  margin: 0 auto;
  background-color: red;
}
img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 100px;
}

p {
  font-weight: 300;
  font-size: 16px;
}
